.bio-content {
    padding-top: calc(7vh + 2em);
    padding-right: 5vw;
    padding-left: 2vw;
}

.bio-content p {
    margin-bottom: 2em;
    font-size: 0.9em;
}

.contact-info p {
    margin-bottom: 0;
}

.cv-section {
    margin-bottom: 2em;
}

.bio-content h2 {
    font-family: Arial, sans-serif;
    font-weight: normal;
    font-size: 1em;
    margin-bottom: 1em;
}

.cv-item {
    display: flex;
    margin-bottom: 0.5em;
}

.cv-item span:first-child {
    width: 100px;
}

.cv-item-description {
    width: calc(100% - 100px);
    vertical-align: top;
}

@media (max-width: 768px) {
    .bio-content {
        padding-left: 5vw;
    }
}
