.bio-content {
    padding-top: calc(7vh + 1em);
    padding-right: 5vw;
    padding-left: 28vw;
}

.bio-content p {
    margin-bottom: 2em;
    font-size: 0.9em;
}

.contact-info p {
    margin-bottom: 0;
}

.cv-section {
    margin-bottom: 2em;
}

.bio-content h2 {
    font-family: Arial, sans-serif;
    font-weight: normal;
    font-size: 1em;
    margin-bottom: 1em;
}

.cv-item {
    display: flex;
    margin-bottom: 0.5em;
}

.cv-item span:first-child {
    width: 190px;
    white-space: nowrap;
    flex-shrink: 0;
}

.cv-item-description {
    flex: 1;
    margin-left: 10px;
    vertical-align: top;
}

footer {
    position: relative;
    text-align: right;
    padding: 2em 5vw 1em 0;
    font-size: 0.5em;
    text-transform: uppercase;
    color: #000;
    z-index: 50;
}

footer p {
    margin: 0;
}

@media (max-width: 768px) {
    .bio-content {
        padding-left: 5vw;
    }
    
    footer {
        right: 5vw;
        bottom: 10px;
    }
}
