.work-content {
    display: flex;
    padding-top: calc(7vh + 2em);
}

.work-description {
    width: 30vw;
    padding-left: 5vw;
    padding-right: 5vw;
}

.work-description h2 {
    font-family: Arial, sans-serif;
    font-weight: normal;
    font-size: 1em;
}

.work-images {
    width: 55vw;
}

.work-images img {
    width: 100%;
    margin-bottom: 2em;
    cursor: pointer;
}

.half-width-container {
    display: flex;
    gap: 2em;
}

.half-width-container img {
    width: calc(50% - 1em);
}

.image-credit-container {
    position: relative;
}

.photo-credit {
    font-size: 9pt;
    text-align: left;
    position: absolute;
    bottom: 5px;
    left: 0;
}

@media (max-width: 768px) {
    .work-content {
        flex-direction: column;
    }

    .work-description,
    .work-images {
        width: 100%;
        padding-left: 5vw;
        padding-right: 5vw;
        box-sizing: border-box;
    }

    .work-description {
        order: 2;
        width: auto;
    }

    .work-images {
        order: 1;
        width: auto;
    }
}

.lightbox {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    display: none; /* Hidden by default */
}

.lightbox.active {
    display: flex;
}

.lightbox-content {
    max-width: 90%;
    max-height: 90%;
}

.close-button {
    position: absolute;
    top: 20px;
    right: 30px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.prev-button,
.next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.prev-button {
    left: 20px;
}

.next-button {
    right: 20px;
}

@media (max-width: 768px) {
    .prev-button,
    .next-button {
        font-size: 24px;
    }

    .prev-button {
        left: 10px;
    }

    .next-button {
        right: 10px;
    }

    .close-button {
        font-size: 30px;
        top: 15px;
        right: 20px;
    }
}
